// .description {
//   text-align:center;
//   color: black;
// }


// .description h1 {
//   font-size: 24px;
// }

// .description p{
//   font-size:18px;
// }



.box {
  padding: 100px 50px;
  border-radius:5px;
}

.box--one {
  background-color: white;
  color:black;
}

.box--two {
  background-color:rgb(210, 210, 210);
  color:black;
}
.box--three {
  background-color:rgb(100,100,100);
  color:white;
}

.box--four {
  background-color: black;
  color:white;
}

.top-margin {
  margin-top: 50px;
}

.description {
  text-align: justify;
}

.img-box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.centered-img {
  border-radius: 5px;
}

.pontainer {
  width: 100%;
}
