// .description {
//   text-align:center;
//   color: black;
// }


// .description h1 {
//   font-size: 24px;
// }

// .description p{
//   font-size:18px;
// }
p {
  font-size: 18px;
  line-height: 25px;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    min-height: 100vh;
    color:white;
}


#container {
  margin: 60px 50px;

}



.box {
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    border-radius:5px;
}

.box--one {
    background-color: black;
    color:white;
}

.box--two {
    background-color:white;
    position: relative;
    color:black;
    z-index: 1;
}
