// .description {
//   text-align:center;
//   color: black;
// }


// .description h1 {
//   font-size: 24px;
// }

// .description p{
//   font-size:18px;
// }
p {
  font-size: 18px;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 40px;
    min-height: 2000px;
    color:white;
}



.box {
    width: 100%;
    margin: 0 auto;
    padding: 50px;
}

.box--one {
    background-color: grey;
}

.box--two {
    background-color: black;
    position: relative;
    z-index: 1;
}
