<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="mailto:alighterday.nl@gmail.com"><i class="fa fa-envelope"></i></a></li>
          <li class="list-inline-item"><a href="https://www.facebook.com/A-lighter-day-160290201233678/"><i class="fa fa-facebook"></i></a></li>
          <li  class="list-inline-item"><a href="http://pictaram.today/tag/alighterday"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


