
<div class="navbar-wagon">

  <div class="logo"> <a href="/"><%= image_tag "logo.jpeg", width:"80px" %></a>
  </div>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="/about.html" class="navbar-wagon-item navbar-wagon-link">About</a>
    <a href="/contact.html" class="navbar-wagon-item navbar-wagon-link">Contact</a>
  </div>
</div>

