
<div class="navbar-wagon">

  <div class="logo"> <a href="/a-lighter-day"><%= image_tag "logo.jpeg", width:"80px" %></a>
  </div>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="/a-lighter-day/about.html" class="navbar-wagon-item navbar-wagon-link">About</a>
      <a href="/a-lighter-day/gallery.html" class="navbar-wagon-item navbar-wagon-link">Gallery</a>
    <a href="a-lighter-day/contact.html" class="navbar-wagon-item navbar-wagon-link">Contact</a>

  </div>
</div>

