---
title: A lighter day
---


<div id="home">
  <div class="home-content">
    <%= partial "banner" %>
  </div>
</div>
</div>



 <%= partial "footer" %>
<style>
body {
  position:relative;
  font-family:'Roboto Mono', monospace;
}

</style>
