---
title: A lighter day
---


<div id="home">
    <%= partial "banner" %>
</div>

<div id="container" style="display:flex">
    <div class="element">Elément 1</div>
    <div class="element">Elément 2</div>
</div>

